[2014-05-14 19:29] rsignell-usgs opened #1 "Issue with merging IPy Notebook pull requests"
@ocefpaf , this is the reason we are getting merge conflicts.   Any idea how to avoid this? Can I just delete the `sha256` hash?
![5-14-2014 1-24-04 pm](https://cloud.githubusercontent.com/assets/1872600/2976208/03f4db7c-db9e-11e3-99fa-e5ccf24c4b59.png)

[2014-05-14 22:52] #1 closed, assigned to nobody

[2014-05-15 15:26] rsignell-usgs opened #2 "Computing vertical coordinates in CF-compliant datasets"
I realized this morning that one significant issue with creating the virtual glider path tool in Python is the calculation of vertical coordinate using the CF convention information.   The NetCDF-Java library does this for us in the Matlab NCTOOLBOX -- we should use Iris to do this computation for us in Python.   But an issue is that all the vertical coordinates have not been added to Iris yet.

H

[2014-06-16 20:37] ocefpaf opened #5 "Develop nc_genslice"
For the glider observation comparison we need to have something similar to [`nc_genslice.m`](https://github.com/nctoolbox/nctoolbox/blob/master/cdm/utilities/slicing/nc_genslice.m) from nctoolbox.  It needs #2 to be implemented.

[2014-06-16 20:43] ocefpaf opened #6 "HF Radar from SECOORA Thredds server is not CF compliant."
The following URLs where tested and none could be read using CF rules:
- longbay="http://129.252.139.124/thredds/dodsC/longbay.nc"
- savannah="http://129.252.139.124/thredds/dodsC/savannah.nc"
- miami_wera="http://129.252.139.124/thredds/dodsC/miami_wera.nc"
- tampa_codar="http://129.252.139.124/thredds/dodsC/tampa_codar.nc"
- tampa_wera="http://129.252.139.124/thredds/dodsC/tampa_wera.nc"

http:/

[2014-06-16 20:54] ocefpaf opened #7 "URLs for SECOORA models"
@rsignell-usgs

The link below shows the URLs for SECOORA models that I can find using CSW pointing to [NGDC Geoportal](https://github.com/ioos/secoora/blob/master/notebooks/inundation/inundation_secoora.ipynb#L129).

https://github.com/ioos/secoora/blob/master/notebooks/inundation/inundation_secoora.ipynb#L217

I cannot find any URL from those I see in the SECOORA catalog here:
http://129.252.139

[2014-06-16 20:58] ocefpaf opened #8 "Substitute `nearxy ` and `find_ij` for Scipy's KDTree."
Substitute `nearxy` and `find_ij` for Scipy's KDTree and test if this approach is faster and more general to both structured and unstructured models.

https://github.com/ioos/secoora/blob/master/notebooks/inundation/inundation_secoora.ipynb#L1188

KDTree will allow to search all points of lon, lat that are near the observations.  With the computed `tree` it is faster to find several points, but it

[2014-06-16 21:03] ocefpaf opened #9 "Find out if all the HRF data in the SECOORA URLs are also in the UCSD data."
Find out if all the HRF data in the SECOORA URLs are also in the UCSD data.

SECOORA: http://129.252.139.124/thredds/catalog_hfradar.html
UCSD: http://hfrnet.ucsd.edu/thredds/HFRADAR_USEGC_hourly_RTV.html

[2014-06-19 19:00] jcothran opened #14 "testing plan, schedule"
While I appreciate the efforts made to test and utilize the SECOORA listed web services - are there a documented plans and schedules for this that I can use to help clue and prepare myself in on upcoming issues or is this more random fire-drill ad-hoc type testing?

The readme for the ioos/secoora repository has the below - could someone provide or add a link describing this in more detail please?

[2014-06-19 19:24] #9 closed, assigned to ocefpaf

[2014-06-19 19:55] #6 closed, assigned to ocefpaf

[2014-06-20 13:04] #7 closed, assigned to ocefpaf

[2014-06-23 12:35] rsignell-usgs opened #16 "Simple demo of HF radar comparison"
It should be possible to now discover the HF Radar from UCSD and at least one SECOORA model (SABGOM) via the catalog.   Can we get a sample notebook going that compares the two surface currents fields?   Let's use Cartopy for plotting, I'm thinking something like
https://www.wakari.io/sharing/bundle/rsignell/Iris_HFR_plot
but @ocefpaf , likely you have a better idea.

For calculating surface curre

[2014-06-23 15:46] #8 closed, assigned to ocefpaf

[2014-06-23 15:54] ocefpaf opened #18 "No NAVD datum found"
Cell 13 show that all the Sea Level data found for SECCORA using `sos_name = 'water_surface_height_above_reference_datum'` is `MLLW`.  However, `NAVD` is desirable for the model observation comparison.

http://nbviewer.ipython.org/github/ioos/secoora/blob/master/notebooks/inundation/inundation_secoora.ipynb

A possible solution was raised here:
https://github.com/ioos/system-test/issues/100

[2014-06-23 16:15] ocefpaf opened #19 "Model grid"
Check what is happening with the models found in the SECOORA area:

http://nbviewer.ipython.org/github/ocefpaf/secoora/blob/acfda32acd8c4079421c56a504e6ba553b007140/notebooks/inundation/inundation_secoora.ipynb
- [Barotropic Tide Model for the Pacific Basin](http://oos.soest.hawaii.edu/thredds/dodsC/hioos/tide_pac)
- [HYbrid Coordinate Ocean Model (HYCOM): Global](http://oos.soest.hawaii.edu/thred

[2014-06-23 16:28] ocefpaf opened #20 "Run inundation regularly to determine elevation bias"
Compute the mean difference between model and data at each station and store those values with a time stamp somewhere (in a netCDF file or CSV file on github) for the inundation notebook.

Goal: Provide feedback to the modelers to improve their models, which is part of the goal of this SECOORA work!

[2014-06-23 17:03] rsignell-usgs opened #21 "Can dots scale in Folium?"
In notebooks like
http://nbviewer.ipython.org/github/ocefpaf/secoora/blob/cb6ead3277aacb5c1d90c25409c1adbc5188d9de/notebooks/inundation/inundation_secoora.ipynb

I suppose we can't make the dots scale with zoom level using Folium, can we?
The map would allow zooming right into where we could see Springmaid Pier, but then we can't see the instrument location because the red dot covers the entire ma

[2014-06-23 17:17] #21 closed, assigned to nobody

[2014-06-24 19:33] rsignell-usgs opened #23 "Is crow.marine.usf.edu down?"
I can find the West Florida Shelf FVCOM data in the geoportal, but it appears that the thredds server is down?
![6-24-2014 3-05-21 pm](https://cloud.githubusercontent.com/assets/1872600/3376569/6b3adf5e-fbd6-11e3-98ac-a6cb2ea6ad9f.png)
![6-24-2014 3-05-59 pm](https://cloud.githubusercontent.com/assets/1872600/3376571/6cf76ad8-fbd6-11e3-9cc3-63dc00be0e4e.png)

[2014-06-24 20:04] #18 closed, assigned to nobody

[2014-06-25 14:35] ocefpaf opened #27 "Bias offset"
Copy-and-paste from #20

Since there clearly are mean biases between observed and modeled [elevations](http://nbviewer.ipython.org/github/ioos/secoora/blob/master/notebooks/inundation/inundation_secoora.ipynb).  Likely caused by model datum issues, let's remove the bias from the plots.  But until we get data to understand the temporal (or spatial) biases in the mean elevation, let's just subtract/

[2014-06-25 15:03] #23 closed, assigned to nobody

[2014-06-25 15:48] #14 closed, assigned to nobody

[2014-07-02 14:48] ocefpaf opened #29 "Some stations in the SECOORA region are not NAVD"
The following stations are not NAVD:

8654467, 8656483, 8658120, 8726520, 872660

Here is the response:

[`http://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS?service=SOS&request=GetObservation&version=1.0.0&observedProperty=water_surface_height_above_reference_datum&offering=urn:ioos:station:NOAA.NOS.CO-OPS:8726607&responseFormat=text%2Fcsv&eventTime=2014-06-30T00:00:00Z/2014-06-30T23:59:00Z&resu

[2014-07-06 00:24] ocefpaf opened #30 "Some models are matched to the wrong station."
Revisit `get_nearest_water`!

[2014-07-08 00:01] rsignell-usgs opened #31 "Why no ESTOFS model results here"
http://nbviewer.ipython.org/github/ocefpaf/secoora/blob/storm_arthur_03_jun_2014/notebooks/inundation/inundation_secoora.ipynb

[2014-07-08 01:03] #30 closed, assigned to ocefpaf

[2014-07-08 12:23] #31 closed, assigned to nobody

[2014-07-19 08:56] ocefpaf opened #34 "`get_nearest_water` is not returning enough water data points."
There is a short-circuity in the logic that prevents it from returning water points even when they are near.

[2014-07-20 18:45] #34 closed, assigned to ocefpaf

[2014-07-21 12:09] rsignell-usgs opened #36 "utilities.py not found"
Apparently it's not always the case that the current directory is the one that the running notebook is in.   On the testbed notebook server, the current directory remains at the top of the tree even when running a notebook several levels down.   That means that `import utilities` didn't work and I needed to `cd` to that directory to get things to work.

[code]

Does this mean we should put these u

[2014-07-21 12:22] rsignell-usgs opened #37 "Workaround for environment sharing issue in Wakari"
@jcothran , @ocefpaf
I tried running Filipe's shared bundle
https://www.wakari.io/sharing/bundle/filipefernandes/inundation_secoora
 in Wakari, and it failed several times with "unknown error".   I've reported this to Continuum.

However, you CAN get it going in Wakari following this approach.

In Wakari, click the Terminals tab, then select `Shell` and `np18py27-1.9` (or some other environment yo

[2014-07-21 12:47] #19 closed, assigned to ocefpaf

[2014-07-21 12:49] #29 closed, assigned to ocefpaf

[2014-07-21 18:37] ocefpaf opened #38 "HF Radar exercise"
- Improve `get_roms` and `get_hfradar` to use and return iris cubes at any given:
- bbox
- time slice
- and depth layer

[2014-07-22 14:18] ocefpaf opened #40 "Save non-interpolated CSV for the model output"
For now the notebook logic finds the model time-series and interpolate it to the same interval as the data (6 min).  That is OK for plotting, but bad if we wish to compute statistics on the the data.

[2014-07-22 15:08] ocefpaf opened #41 "Copy `iris.interpolate` logic to find indices"
Iris `nearest_neighbour_indices` is probably the way to go to implement a nearest neighbor index search:

https://github.com/SciTools/iris/blob/master/lib/iris/analysis/interpolate.py#L89

We need to implement it for multidimensional coordinates (2D lon, lat) the "is_water" can be implement outside using a loop search.  The KDTree is cached so no performance hit there.

[2014-07-22 18:11] rsignell-usgs opened #42 "get hf_radar gets same cube for u and v"
https://github.com/ioos/secoora/blob/master/notebooks/HF_radar/HFR_comparison.py#L68

no wonder the HF Radar current direction is constant!

[2014-07-22 18:23] #42 closed, assigned to nobody

[2014-07-23 18:25] #36 closed, assigned to nobody

[2014-07-30 17:50] #40 closed, assigned to ocefpaf

[2014-07-31 21:11] #37 closed, assigned to nobody

[2014-08-05 20:44] ocefpaf opened #47 "SECOORA results webpage"
A prototype for the webpage is here:

http://ocefpaf.github.io/secoora/

There are 3 tabs for **scalar**, **vector** and **track** data/model comparisons.

TODO:
- [ ] Commit the `.py/.ipynb` for each run in the page.
- [X] Add a url for the data.
- [X] Change ssh/radar/glider to the tabs mentioned above.

[2014-08-06 19:09] rsignell-usgs opened #48 "Problem with inundation notebook?"
http://nbviewer.ipython.org/github/ioos/secoora/blob/master/notebooks/inundation/inundation_secoora.ipynb
![8-6-2014 3-08-41 pm](https://cloud.githubusercontent.com/assets/1872600/3832395/36783efe-1d9d-11e4-8c62-b0a11a239bea.png)

[2014-08-06 20:44] #48 closed, assigned to nobody

[2014-08-29 21:53] ocefpaf opened #65 "Plotting time-series as folium popups"
Folium translates to leaflet two types of popups: simple text and vincent plots (via vega).

Vega popups integrate nicely with folium, but do not support NaN and are not interactive.

I am testings two alternatives to vega: mpld3 and static png.  Both have the same disadvantage they are inserted as html (either `img` or `iframe`) in the simple popup.  Folium/leaflet default configuration limits th

[2014-09-03 16:26] ocefpaf opened #70 "SABGOM website results different from SECOORA inundation notebook"
The figure below shows a time-series of sea surface height for the SABGOM model and the nearest observed station to the a model grid point (buoy: 8658163, Wrightsville Beach, NC).

![buoyservlet](https://cloud.githubusercontent.com/assets/950575/4136438/6ad022ec-337e-11e4-92ee-a7427acd2c2f.png)

The figure was acquired from this URL:

http://omgsrv1.meas.ncsu.edu:8080/ocean-circulation/val.jsp

Th

[2014-09-26 12:15] #27 closed, assigned to ocefpaf

[2014-09-26 12:39] #20 closed, assigned to nobody

[2014-09-26 14:19] #47 closed, assigned to ocefpaf

[2014-09-26 14:23] #16 closed, assigned to nobody

[2014-09-26 20:28] #38 closed, assigned to ocefpaf

[2014-09-28 14:29] ocefpaf opened #80 "Make sure we can get all SABGOM comparison stations"
We are reporting the elevation bias weekly at the SECOORA website:

http://ocefpaf.github.io/secoora/comparisons/ssh/

The bias can be explain by
- datum errors.
- open boundary condition issues.
- assimilation of sea surface height data issues (altimeter measurements).

Some of the regional models, like SABGOM, are worth investigating further.  (It doses not make sense with the global models like

[2014-10-08 15:17] ocefpaf opened #82 "Cannot find SECOORA models in last weeks run"
@vembus as we discussed there is an issue with the thredds server on our end.  I cannot find SECOORA models using this catalog:
http://www.ngdc.noaa.gov/geoportal/csw

Here are the models that I did find:
http://ocefpaf.github.io/secoora/notebooks/inundation/2014-10-03/bias.html

I am pinging @jcothran for help with this issue.

[2014-10-13 23:58] ocefpaf opened #86 "Cannot find enough observed velocity in the SECOORA area"
This notebook tries find currents from `SOS` and `NDBC` using `pyoos`, but it can find only one station from `CoopsSos` and all the NDBC station `NdbcSos` do not have data in a "last week" time request.

http://nbviewer.ipython.org/github/ocefpaf/secoora/blob/master/notebooks/vector/time_series/currents_time_series.ipynb

[2014-10-16 11:12] #86 closed, assigned to ocefpaf

[2014-10-20 20:52] ocefpaf opened #91 "Cannot access the CSW catalog."
http://www.ngdc.noaa.gov/geoportal/csw seems to be down. @rsignell-usgs   Are there any alternatives to it?

[2014-10-22 20:11] ocefpaf opened #95 "Cannot run Hunter's test bed"
PRs #94 and #96 adapts the model comparison from Hunter's test bed to my environment.  However I am still unable to run it due to the lack of some files and/or network errors:

- [Missing]: `/home/julia/ROMS/espresso/RealTime/CODAR/codar_marcoos09_binned0.28.mat`
- [Missing]: `/home/hunter/roms/ecomon_compare/data/ECOMON_DATA_2010_2012.mat`
- [No answer]: `http://tashtego.marine.rutgers.edu:8080/t

[2014-10-25 03:06] ocefpaf opened #97 "`conda-requrement.txt` file for wakari"
@rsignell-usgs as promised here is the `conda-requrement.txt` that runs all of system-test using my binstar channel:

https://binstar.org/ocefpaf/

The channel was created from a https://github.com/ioos/conda-recipes fork, all the modifications are already in a PR to the main repository.

[code]

[2014-10-28 16:44] rsignell-usgs opened #100 "Trying to read and plot glider data"
http://nbviewer.ipython.org/gist/rsignell-usgs/d2b5297bd6d3428a6f45

What am I doing wrong in cell [25]?

[2014-10-29 21:46] #91 closed, assigned to nobody

[2014-10-29 22:08] #80 closed, assigned to ocefpaf

[2014-10-29 23:27] #70 closed, assigned to nobody

[2014-10-31 15:31] #100 closed, assigned to nobody

[2014-10-31 15:36] #82 closed, assigned to nobody

[2014-12-13 15:42] ocefpaf opened #115 "NGDC catalog down"
The NGDC CSW catalog (http://www.ngdc.noaa.gov/geoportal/csw) seems to be down today (December 13, 2014).

@rsignell-usgs Are there alternatives to the NGDC CSW catalog?

I browsed http://catalog.ioos.us webpage and tried a few SECOORA queries using the web interface with no avail.

![snapshot1](https://cloud.githubusercontent.com/assets/950575/5424227/22e422bc-82c5-11e4-9a19-4ee7af10fd43.png)

[2014-12-14 21:34] #115 closed, assigned to nobody

[2014-12-14 21:35] ocefpaf opened #116 "NGDC backup"
@rsignell-usgs suggested:

[2015-01-01 23:45] ocefpaf opened #117 "CBOFS seems to be `ocean_s_coordinate` and not `ocean_s_coordinate_g1`"
The metadata in the URL below says `ocean_s_coordinate_g1`.  I am no expert but  and I think it should be `ocean_s_coordinate`:

[http://opendap.co-ops.nos.noaa.gov/thredds/dodsC/CBOFS/fmrc/Aggregated_7_day_CBOFS_Fields_Forecast_best.ncd.html](http://opendap.co-ops.nos.noaa.gov/thredds/dodsC/CBOFS/fmrc/Aggregated_7_day_CBOFS_Fields_Forecast_best.ncd.html)

@rsignell-usgs  BTW do you have am update

[2015-01-02 17:06] rsignell-usgs commented on #117
@painter1, indeed the trac web site seems to be down, and as you say, I can find no reference to the `ocean_s_coordinate_g1` and `ocean_s_coordinate_g2` coordinates in the CF 1.7 draft at
http://cfconventions.org/Data/cf-conventions/cf-conventions-1.7/build/cf-conventions.html

I searched the CF repo for `ocean_s_coordinate` and it appears there in multiple documents, but I don't know which one we

[2015-01-02 17:19] painter1 commented on #117
@rsignell-usgs and @ocefpaf ,  over the past year we ran into various hardware and security problems and had to migrate the Trac web site twice.  This new url should be permanent: http://cf-trac.llnl.gov/trac .

Indeed Jonathan Gregory declared Ticket 93 as accepted, but I haven't edited it into the CF 1.7 draft yet.

[2015-01-02 17:31] ocefpaf commented on #117
@painter1 Thanks!

@rsignell-usgs What about the fisrt part of the issue? Is [this URL](http://opendap.co-ops.nos.noaa.gov/thredds/dodsC/CBOFS/fmrc/Aggregated_7_day_CBOFS_Fields_Forecast_best.ncd.html) is correctly marked as `ocean_s_coordinate_g1` or it should be `ocean_s_coordinate`?  If that is `ocean_s_coordinate_g1` my iris implementation is wrong!

[2015-01-02 18:03] rsignell-usgs commented on #117
@painter1, thanks!
@matbenn, I would like to help @painter1 by forking the conventions, editing the appropriate file to include Ticket 93, and then submitting a pull request.    Can you point me to the appropriate file to edit?

@ocefpaf, you are correct.  The aggregation is inappropriately overriding the vertical coordinate.  It's clear from a [non-aggregated file](http://opendap.co-ops.nos.noaa.

[2015-01-02 18:09] ocefpaf commented on #117
Thanks.  I got scared for a moment there :stuck_out_tongue_winking_eye: I thought I made a boo-boo with iris vertical coordinates!

[2015-01-02 18:09] #117 closed

[2015-01-02 18:20] painter1 commented on #117
@rsignell-usgs , thanks for volunteering.  I don't know whether this will work, but we can only find out by trying.

The main file to edit is the DocBook file "appendix-d.xml".  Changes also have to be summarized in the-book-info.xml.  And there may need to be a corresponding change in conformance document; I've not studied Ticket 93 so I don't know.  Note that there is a mandatory system for mark

[2015-01-05 19:25] rsignell-usgs commented on #117
CO-OPS fixed the catalog and restarted, and looks like
http://opendap.co-ops.nos.noaa.gov/thredds/dodsC/CBOFS/fmrc/Aggregated_7_day_CBOFS_Fields_Forecast_best.ncd.html
now has `ocean_s_coordinate`, so closing

[2015-01-05 19:40] ocefpaf commented on #2
PR https://github.com/SciTools/iris/pull/1304 got merged.  Closing this issue.

[2015-01-05 19:40] #2 closed

[2015-01-05 19:43] ocefpaf commented on #117
Just run my SECOORA notebooks with the latest iris checkout +[PR1520](https://github.com/SciTools/iris/pull/1502) and everything worked out nicely!  Now I don't have excuses to attack issue #5.

[2015-01-05 20:56] ocefpaf opened #118 "TBOFS seems to be `ocean_s_coordinate` and not `ocean_s_coordinate_g1`"
@rsignell-usgs TBOFS at [http://opendap.co-ops.nos.noaa.gov/thredds/dodsC/TBOFS/fmrc/Aggregated_7_day_TBOFS_Fields_Forecast_best.ncd.html](http://opendap.co-ops.nos.noaa.gov/thredds/dodsC/TBOFS/fmrc/Aggregated_7_day_TBOFS_Fields_Forecast_best.ncd.html) seems to suffer from the same problem as CBOFS #117.

http://nbviewer.ipython.org/gist/ocefpaf/8aa0890f03f599014918

[2015-01-07 13:09] ocefpaf opened #122 "Cannot read elevatino data from USF FVCOM"
The problem is describe in this notebook:

http://nbviewer.ipython.org/github/ioos/secoora/blob/master/sandbox/USF_FVCOM.ipynb

@rsignell-usgs Is it possible that the problem is in the aggregation?  I am lost here...

[2015-01-07 15:33] ocefpaf commented on #122
OK, I just found out that iris is failing to create the `Auxiliary coordinates` for  longitude and latitude.  Therefor `node` is loaded as anonymous dimensions and iris does not merge that into one cube.

Now I have to find out why that is happening!

[2015-01-07 17:02] rsignell-usgs commented on #122
I remember that in the past some piece of code (pyugrid perhaps?) was having a problem when nv (the connectivity array) was real instead of int.  That wouldn't be it, would it?

[2015-01-07 17:06] ocefpaf commented on #122
Thanks I will look into it.  This is what I found so far:

http://nbviewer.ipython.org/github/ioos/secoora/blob/19a9a9d2dce1e60aa4cd9f3615b46954cc7d58a3/sandbox/USF_FVCOM.ipynb

[2015-01-07 17:14] ocefpaf commented on #122
That's it.  Spend the whole morning on this...  Is this a problem that should be fixed at the data level?  Or did you guys solved it at a software level with pyugrid?

[2015-01-07 17:16] rsignell-usgs commented on #122
For what it's worth, this USF FVCOM URL seems to work with your test:
http://comt.sura.org/thredds/dodsC/data/comt_1_archive/inundation_tropical/USF_FVCOM/Hurricane_Ike_2D_final_run_with_waves.html

So perhaps the secret is in [the NcML we used](https://github.com/ioos/comt_1_archive/blob/master/inundation_tropical/USF_FVCOM/Hurricane_Ike_2D_final_run_with_waves/00_dir.ncml)?

[2015-01-07 17:22] ocefpaf commented on #122
I see a `type=int` in the NcML:

https://github.com/ioos/comt_1_archive/blob/master/inundation_tropical/USF_FVCOM/Hurricane_Ike_2D_final_run_with_waves/00_dir.ncml#L37-40

[2015-01-07 17:26] rsignell-usgs commented on #122
That's just adding the `start_index` attribute.  The connectivity array is still a `real` array.

[2015-01-07 17:28] ocefpaf commented on #122
OK.  Got it.

[2015-01-07 19:06] ocefpaf commented on #122
pyugrid cannot read that dataset as well.  It searches for the `cf_role: 'mesh_topology' ` and raises: `There are no standard-conforming meshes`

https://github.com/pyugrid/pyugrid/blob/master/pyugrid/read_netcdf.py#L45-46

Both individual files and the aggregation misses that attribute.

[2015-01-08 15:10] rsignell-usgs commented on #122
@jcothran sent me the catalog.xml they were using and I made some modifications to split into multiple separate catalogs linked via `catalogRef`, as well as updating the FVCOM NcML.   It looks like the FVCOM aggregation is now working?
http://nbviewer.ipython.org/gist/rsignell-usgs/d9c1e4d26390ad4eab20

[2015-01-08 17:01] ocefpaf commented on #122
Thanks a lot @rsignell-usgs.  I am re-running everything here and hopefully USF FVCOM will show up  in the next maps.

[2015-01-08 17:01] #122 closed

[2015-01-08 17:31] ocefpaf commented on #122
@rsignell-usgs Excuse me if this is a stupid question, but I know nothing about FVCOM.

Is this right?

http://nbviewer.ipython.org/gist/ocefpaf/80f66778394f854141ef

There several duplicated times.

[2015-01-08 17:40] rsignell-usgs commented on #122
Is what right?

[2015-01-08 17:42] ocefpaf commented on #122
The duplicate times.  I have 4 2014-11-01 00:00:00 for example:

[code]

[2015-01-08 18:59] ocefpaf opened #125 "USF FVCOM duplicate times"
USF FVCOM has duplicate times with different data.

For example the date 2014-11-1 00:00:00 repeats 4 times

[code]

`(array([34115, 34199, 34283, 34367]),)`

[code]

[code]

[nbviewer notebook](http://nbviewer.ipython.org/gist/ocefpaf/80f66778394f854141ef)

My workaround so far is to download the data as is and add a post process step to remove the duplicated times but the last one:

[code]

@jco

[2015-01-08 19:23] rsignell-usgs commented on #125
Hmmm... There are lots of strange jumps backwards in time also, like `09-Dec-2013 12:00:00` is followed by `06-Dec-2013 01:00:00`.

[2015-01-08 19:27] ocefpaf commented on #125
Yep...  Do you know that Chinese saying?

"Do not kill the dragon that bothers you or another one bigger and meaner will take its place."

[2015-01-08 19:31] rsignell-usgs commented on #125
Ah, I see the problem.    Each day there is a new 3 day forecast, and these are simply being aggregated using:
[code]
So of course every 3 days there will be a leap backwards when these are aggregated.

Usually we use a forecast model run collection aggregation for this type of data, but unfortunately they don't work for unstructured grid data like FVCOM.  ;-(

[2015-01-08 19:36] ocefpaf commented on #125
I guess my workaround is OK then.  I get the last one to be concatenated, that should be the "best" available data at that time.  Right?

[2015-01-08 19:41] rsignell-usgs commented on #125
Yes.

[2015-01-08 19:41] #125 closed

[2015-01-08 19:42] ocefpaf commented on #125
Another dragon killed.  Moving to the next one...

[2015-01-08 19:48] ocefpaf opened #128 "SECOORA models are not found in the NGDC catalog"
SECOORA models cannot be found in the [NGDC Geoportal](http://www.ngdc.noaa.gov/geoportal/csw) using OWSLib's  `CatalogueServiceWeb`.

The notebook searches for a list of SECOORA models (cell [9]), filtered by a geo bouding box, time range and CF variable standard_name, and then logs if they are found or not (at the end of the notebook):

http://nbviewer.ipython.org/github/ocefpaf/secoora/blob/mas

[2015-01-08 20:29] ocefpaf commented on #97
Option 3 is now available and I am slowly build all conda packages using binstar build.

[2015-01-08 20:29] #97 closed

[2015-01-08 20:37] ocefpaf commented on #118
The data providers are aware of the issue (via e-mail communication) and they are fixing this.  I will close it when the aggregation is fixed (until now my weekly runs still  fails at TBOFS).

[2015-01-08 20:37] rsignell-usgs commented on #128
If we take a look at [the sources that NGDC is harvesting from SECOORA](https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604653&componentId=&serviceType=&serviceStatus=APPROVED&serviceUrl=&search=List+Collection+Sources) we see ISOWAF, SOS, THREDDS and ERDDAP.

For the [THREDDS source being harvested](https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604653

[2015-01-08 20:39] ocefpaf commented on #116
The http://catalog.ioos.us/ URL is a nice web interface to search for data/services.

@rsignell-usgs is there an IOOS csw alternative to NGDC as well?

[2015-01-08 20:46] rsignell-usgs commented on #116
We could do what I did for NATO:
* use Kyle's python thredds crawler to extract iso records from thredds info WAFs
* harvest the WAF data into pycsw
* search pycsw using CSW

[2015-01-08 20:52] ocefpaf commented on #116
Yes please!  Do you have a recipe for me to follow or an example to point me to?

[2015-01-08 20:55] ocefpaf commented on #128
If I understood correctly the models at "http://omgsrv1.meas.ncsu.edu:8080" are being harvest, so my OWSLib query should have found find them, corret?

I know they are down now, but I find it weird that I am unable to find them since last October.

[2015-01-08 21:48] jcothran commented on #128
@ocefpaf generally I'd say yes on the all WAF approach and that is what I am doing, the other thredds entries were made by @rsignell-usgs - ideally it just gives people the starting point and allows techs to change thredds server catalogs without updating the catalog itself all the time.  The stopping point currently is that either scripts to use the WAF approach don't work or people in practice d

[2015-01-08 22:05] ocefpaf commented on #128
@jcothran

See: https://github.com/ioos/secoora/issues/116

[2015-01-08 23:28] rsignell-usgs commented on #116
@ocefpaf , okay, I put the comt pycsw scripts at:
https://github.com/rsignell-usgs/comt_pycsw

Here's an example of doing a CSW request to this pycsw:
http://nbviewer.ipython.org/gist/rsignell-usgs/58f80172a77b8182843f

Feel free to submit pull requests that add more THREDDS catalogs.

[2015-01-09 12:02] ocefpaf commented on #116
Thanks!  I will work on this during the weekend.

[2015-01-09 13:53] ocefpaf commented on #65
@rsignell-usgs this is a test png image from the mpld3 branch, maybe that is useful:

![mpld3](https://cloud.githubusercontent.com/assets/950575/5680576/b9c80dc8-97ed-11e4-9787-f1335f8829ae.png)

[2015-01-10 11:25] rsignell-usgs commented on #116
@ocefpaf , I have updated my notebook to show how the bounding box should be specified:
http://nbviewer.ipython.org/gist/rsignell-usgs/58f80172a77b8182843f

Here we specify not only the bounding box, but what coordinate system we are using in the bounding box specification.  To do this, we need to use owslib 0.8.12 (or higher).   I discovered that owslib is no longer in our conda-recipes, and the

[2015-01-10 12:15] ocefpaf commented on #116
Our owslib is inside the `conda-recipes-scitools` submodule.  The version they are using is pinned to `0.8.7`  which was OK for my use until now (my scripts did not work with owslib > 0.8.9, but that is resolved now.)

Maybe the submodule was not a good idea...  Do you want me to revert it and update the packages?

[2015-01-10 13:39] rsignell-usgs commented on #116
Yeah, I think that probably is a good idea.   I like being in control of our packages.  :grinning:

[2015-01-10 13:42] ocefpaf commented on #116
Wait for the PRs...

[2015-01-12 12:01] ocefpaf commented on #118
TBOFS metadata now correctly say "ocean_s_coordinate", closing the issue.

[2015-01-12 12:01] #118 closed

[2015-01-12 12:03] ocefpaf commented on #128
I am marking this as won't fix and closing.

The notebooks will keep reporting where the data was found (NGDC csw, hardcoded URLs or #116.)

[2015-01-12 12:03] #128 closed

[2015-01-12 14:47] ocefpaf commented on #65
I will be using folium PR https://github.com/python-visualization/folium/pull/69 (until we have a better solution) to create the plots.  The PR allows to control the `maxWidth` of HTML popups without breaking simple text popups.

[Here](http://nbviewer.ipython.org/github/ioos/secoora/blob/master/notebooks/elevation/00-inundation_secoora.ipynb) is a nbviewer link for the results.

[2015-01-12 14:47] #65 closed

[2015-01-12 14:56] rsignell-usgs commented on #65
Yea!  Nice x-axis date labeling:
![1-12-2015 9-55-40 am](https://cloud.githubusercontent.com/assets/1872600/5704630/5770edd8-9a41-11e4-80b7-d39802248597.png)

[2015-01-12 15:00] ocefpaf commented on #65
And thanks to D3 they will adapt automatically if zooming in/out.

[2015-01-12 15:03] birdage commented on #65
@ocefpaf they are looking good! glad we took it over now!

[2015-01-12 15:07] ocefpaf commented on #65
@birdage and we can click twice on the plots as well :wink:

[2015-01-12 15:08] birdage commented on #65
@ocefpaf ace......

[2015-01-12 22:27] ocefpaf commented on #41
Iris [_nearest_neighbour_indices_ndcoords](https://github.com/SciTools/iris/blob/master/lib/iris/analysis/interpolate.py#L181) does not handle all the cases that `get_nearest_water`.  They have similar implementations and both use a rudimentary "cache" for the KDTree.

[2015-01-12 22:27] #41 closed

[2015-01-14 01:06] rsignell-usgs commented on #116
@ocefpaf, I scraped the thredds urls from <https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=&search=List+Collection+Sources&serviceStatus=APPROVED&serviceType=THREDDS&serviceUrl=&componentId=&max=10000> and added them to the list, then removed some crappy ones like NERACOOS WW3 and a bunch of CDIP catalogs that were not aggregations.   But I was bad.  I did not submit a PR (in

[2015-01-14 01:06] #116 closed

[2015-01-14 09:28] ocefpaf commented on #116
Thanks @rsignell-usgs.

BTW @vembus mentioned that someone is doing this for SECOORA THREDDS URLs, and he will put us in touch.

PS: :+1: on your idea of a version controled csv (https://github.com/rsignell-usgs/comt_pycsw/issues/1)

[2015-01-20 20:34] ocefpaf opened #135 "FVCOM model results freezes when loading with iris"
This is a weird behavior that I am still unable to find the culprit.  Quite often, when I try to read FVCOM model results, iris just hangs.  Here is a snippet that reproduces the problem.

[code]

I opened an issue in iris about this problem, but everything worked when iris devs tried it at the time :unamused: https://github.com/SciTools/iris/issues/1323.  I need to investigate more before opening

[2015-01-20 22:28] rsignell-usgs commented on #135
@ocefpaf , I just tried running this test a few times and it worked fine.  Took about 10 seconds to run.

[2015-01-21 13:06] ocefpaf commented on #135
You are using iris from the conda channel, correct?  That version fixes https://github.com/SciTools/iris/issues/1287.  My version should have that fix, but since I also incorporate the vertical coordinate stuff I think I broke it again :unamused:

[2015-01-21 13:10] rsignell-usgs commented on #135
I'm still using:
[code]
should I upgrade?

[2015-01-21 13:10] ocefpaf commented on #135
NO!  At least until we fix this.

[2015-01-21 13:22] ocefpaf commented on #135
How about this one?

http://nbviewer.ipython.org/gist/ocefpaf/65ec555f3e345979ecd2

Works for you?

[2015-01-21 16:46] ocefpaf commented on #135
I am between a rock and a hard place with this issue.  If I use the latest branch (with ocean vertical coordinates) I cannot load big dataset.  Even if I [cherry-pick](https://github.com/SciTools/iris/pull/1533) the solution from https://github.com/SciTools/iris/pull/1502, iris does not work and throws a MemoryError.  Something is still not constructing the "LazyArray" for the derived coordinate..

[2015-01-21 18:52] rsignell-usgs commented on #135
@ocefpaf, yes, it works okay for me, though it takes a long time
http://nbviewer.ipython.org/gist/rsignell-usgs/49581ef00bcf7e9e3b34
The first load takes 24 seconds
The 2nd load takes 170 seconds.

[2015-01-21 18:55] ocefpaf commented on #135
That eats up all my CPU and hangs.   I will report this issue in the iris repo.

[2015-01-22 19:58] ocefpaf opened #142 "Some unresponsive URLs from `http://129.252.139.124/thredds/catalog_platforms.html`."
Most of SECOORA buoys are not found by a csw query in the NGDC catalog.  So I am scrapping the thredds URL:

http://129.252.139.124/thredds/catalog_platforms.html

to get a list of SECOORA buoys OPeNDAP URLs that I can use in the notebooks.  However, I found out that some of the URLs are not "healthy."  For now I am skipping them, but I will keep this issue open to remind to fix this in the future

[2015-01-27 14:42] ocefpaf opened #150 "Add the thredds "catalog_platforms" to the SECOORA WAF"
@jcothran  can you please harvest the data from [http://129.252.139.124/thredds/catalog_platforms.html](http://129.252.139.124/thredds/catalog_platforms.html) and add to the SECOORA WAF?

@rsignell-usgs mentioned that SECOORA WAF is picked up every night by NGDC, so this would make these observations discoverable via CSW search.

[2015-01-29 16:10] ocefpaf opened #151 "Cannot find past data for SABGOM and USEAST"
I am using the following URLs for SABGOM and USEAST respectively:

http://omgsrv1.meas.ncsu.edu:8080/thredds/dodsC/fmrc/sabgom/SABGOM_Forecast_Model_Run_Collection_best.ncd

http://omgsrv1.meas.ncsu.edu:8080/thredds/dodsC/fmrc/us_east/US_East_Forecast_Model_Run_Collection_best.ncd

But I cannot find data before the dates: 2014-12-21 15:00:00 (for SABGOM) and 2014-12-23 00:00:00 (for USEAST).  Here

[2015-01-29 16:46] garcia1968 commented on #151
@ocefpaf @rsignell-usgs

I know the omgsrv1 is keeps only the 'latest' observations, but forget whether it is a 4-week span(which would explain not being able to reach last week's data this week) or longer.

I remember an earlier email thread and could not find it offhand, perhaps Rich knows, but a rolling time-window can be specified in the iso xml metadata tags which I should do (or Rich can do

[2015-01-29 17:02] jcothran commented on #151
@ocefpaf @rsignell-usgs

I know the omgsrv1 is keeps only the 'latest' observations, but forget whether it is a 4-week span(which would explain not being able to reach last week's data this week) or longer.

I remember an earlier email thread and could not find it offhand, perhaps Rich knows, but a rolling time-window can be specified in the iso xml metadata tags which I should do (or Rich can do

[2015-01-29 17:07] rsignell-usgs commented on #151
Joe Zambon from NCSU told me last May that "The plan is to host >30 days of data locally on omgsrv1 and move older data once a month to omgarch1"

[2015-01-29 17:14] ocefpaf commented on #151
So the weird thing is that it was working for me a while ago...  I will hard-coded both URLs pointing to `omgsrv1 ` and `omgarch1` in the notebook.  Thanks @jcothran and @rsignell-usgs.

[2015-01-29 17:35] rsignell-usgs commented on #151
Hmm, how long ago?   More than a few days?
omgsrv1 is a rolling archive, so the stuff you used to access may have been moved to omgarch1
http://nbviewer.ipython.org/gist/rsignell-usgs/6d7b9b8d0337f282e611

[2015-01-29 17:44] ocefpaf commented on #151
I use the Hurricane Arthur event (2014-7-7) as a test run.  So I used that configuration several times since that date!

However, I found the issue: the notebook only hard-code the URLs when the CSW search does not find SECOORA models.  So I checked the logs and found out that, when  SABGOM and USEAST appeared in the CSW search, I got the right URL.  The URL issue surfaced because this morning bec

[2015-01-29 23:26] ocefpaf opened #153 "Trying to find if a cube contains model data"
I want to create a function that returns `True` when the data contain model results (aimed also to solve https://github.com/ioos/system-test/issues/102).

First I tried the `coverage_content_type` metadata searching for `'modelResult'`.  This approach works when the metadata is present (which is rarely).

I am also experimenting with a ~~hack~~ decision tree when `coverage_content_type` is not ava

[2015-02-11 18:58] ocefpaf commented on #151
@jcothran Do you know if USEAST is also archive?  I cannot find an equivalent URL (`omgarch1`) for it:

[http://omgarch1.meas.ncsu.edu:8080/thredds/dodsC/fmrc/us_east/US_East_Forecast_Model_Run_Collection_best.ncd](http://omgarch1.meas.ncsu.edu:8080/thredds/dodsC/fmrc/us_east/US_East_Forecast_Model_Run_Collection_best.ncd.html) is a 404.

[2015-02-11 19:05] jcothran commented on #151
@ocefpaf I do not believe that USEAST is archived, but you can email Ruoying to confirm.

[2015-02-11 19:14] ocefpaf commented on #151
Thanks!

[2015-02-12 00:35] #151 closed

[2015-03-05 12:25] ocefpaf opened #165 "Are re-analysis, blended, etc tagged with coverage_content_type: modelResult?"
The data on http://thredds.axiomalaska.com/thredds/dodsC/G1_SST_GLOBAL.nc.html
is tagged with `coverage_content_type: modelResult`.  I had the idea (or hope :grimacing:) that `modelResult` would be used only for numerical model results.

I am just asking to solve my ignorance (and fix my scripts that searches for numerical models).

[2015-03-05 21:37] ocefpaf opened #166 "Is `catalog platforms` down?"
Hi Jeremy, can you confirm if http://129.252.139.124/thredds/catalog_platforms.html is down?

Thanks!

[2015-03-05 23:54] jcothran commented on #166
Hey Filipe,
Yes it is down at the moment, I'll have it back up tomorrow morning.  Sorry if any inconvenience.
Thanks
Jeremy

[2015-03-05 23:59] ocefpaf commented on #166
Not a problem.  Thanks for letting me know!

[2015-03-06 15:23] ocefpaf commented on #166
@jcothran Thanks for fixing this.  Closing the issue.

[2015-03-06 19:34] ocefpaf commented on #166
@jcothran it seems that something is still not "on:"

Error {
    code = 500;
    message = "There are no datasets in the aggregation DatasetCollectionManager{ collectionName='/nc/fit.sispnj.met/fit.sispnj.met*.nc' recheck=30 min
 dir=/nc/fit.sispnj.met/ filter=WildcardMatchOnPath{wildcard=*fit.sispnj.met*.nc$ regexp=.*fit\.sispnj\.met.*\.nc$}";
};

@rsignell-usgs any clues that might help us here

[2015-03-06 20:06] ocefpaf opened #167 "Temperature notebook is displaying wrong labels"
@rsignell-usgs just reported that the sst notebook is displaying wrong labels for the models:

![](http://content.screencast.com/users/rsignell/folders/Snagit/media/5d10bb91-9369-4fe9-8cd2-7311074384c4/03.06.2015-15.00.png)

ESPRESSO should not cover the outer banks.

[2015-03-06 20:28] rsignell-usgs commented on #166
It's telling you it couldn't find any files on disk at:
/nc/fit.sispnj.met/fit.sispnj.met*.nc
Is that really where the files are?
Are the files readable by the user that is running tomcat/thredds?

[2015-03-06 20:42] ocefpaf commented on #167
Seems to be right on the border, but it is correct.

http://nbviewer.ipython.org/urls/gist.githubusercontent.com/ocefpaf/41e037957d3ebd9abeb2/raw/espresso_test.ipynb

[2015-03-06 20:42] #167 closed

[2015-03-06 21:30] jcothran commented on #166
@ocefpaf fixed now, it's a server reboot condition where the initial mount to the remote files failed - mounted now and working

[2015-03-06 23:06] ocefpaf commented on #166
Yep, that is back.  http://www.ngdc.noaa.gov/geoportal/csw, seems to be down now.  Argh!!!!  Not my week.

[2015-03-08 10:17] ocefpaf commented on #166
OK. NGDC CSW is back!

[2015-03-08 10:49] ocefpaf commented on #166
@jcothran but the problem with the files is back.  If you click the link below you will not get the OPeNDAP link:

http://129.252.139.124/thredds/dodsC/fit.sispnj.met.nc.html

[2015-03-08 15:20] jcothran commented on #166
@ocefpaf working again, had a secondary issue with the remote mount on reboot that is fixed now

[2015-03-08 15:20] #166 closed

[2015-03-16 13:32] ocefpaf commented on #165
@rsignell-usgs Is my interpretation of `modelResult` wrong?

[2015-03-16 13:38] ocefpaf commented on #142
This issue went stale before it got an answer.  This scrapper no longer works for the new changes in http://129.252.139.124/thredds/catalog_platforms.html

[2015-03-16 13:38] #142 closed

[2015-03-16 13:41] rsignell-usgs commented on #165
No, you are correct. @kwilcox, can you please fix?

[2015-03-16 13:45] ocefpaf commented on #165
Thanks! I am just trying to minimize the false positives in #153.

[2015-03-16 13:45] #165 closed

[2015-03-16 13:54] ocefpaf commented on #153
Note to self.  This function saves me 20-30 minutes when running a notebook.  The main issue is to reduce the number of false positives.

[2015-03-16 13:54] #153 closed

[2015-03-16 16:10] ocefpaf commented on #135
There is a fix for this in iris https://github.com/SciTools/iris/pull/1560, just waiting to get merged...

[2015-03-16 16:10] #135 closed

[2015-03-16 16:11] ocefpaf commented on #150
@jcothran is this possible or is it complex and cumbersome?  I have not idea :grimacing: I thought it was just a on/off situation.

[2015-03-17 10:57] ocefpaf commented on #5
@rsignell-usgs Do you have a working example of `nc_genslice.m`?  I am trying to use [load_secoora_models.m](https://github.com/nctoolbox/nctoolbox/blob/master/demos/contrib/load_secoora_models.m), but I am getting:

[code]

[2015-03-17 10:59] ocefpaf commented on #5
I need to get this:

![](http://content.screencast.com/users/rsignell/folders/Snagit/media/898e85b9-00c1-4dc8-8d96-701072ee5d19/03.17.2015-06.58.png)

[2015-03-17 11:05] rsignell-usgs commented on #5
Yeah, something has changed with SABGOM causing it not to work anymore.   To produce the figure above, I just changed [line 129 on load_secoora_model](https://github.com/nctoolbox/nctoolbox/blob/master/demos/contrib/load_secoora_models.m#L129) to:
[code]

[2015-03-17 11:11] ocefpaf commented on #5
I am getting that for all model.  I think we have different versions or setups.  I just cloned nctoolbox from "https://github.com/nctoolbox/nctoolbox.git" and added the master branch to my Matlab path with `addpath(genpath('./nctoolbox'))`.  Is that OK?

[2015-03-17 13:03] rsignell-usgs commented on #5
No,not okay. You need the 1.x branch

On Tuesday, March 17, 2015, Filipe <notifications@github.com> wrote:

--
Dr. Richard P. Signell   (508) 457-2229
USGS, 384 Woods Hole Rd.
Woods Hole, MA 02543-1598

[2015-03-17 13:34] ocefpaf commented on #5
Got it working!  And here is the first (and probably wrong) python equivalent:

http://nbviewer.ipython.org/gist/ocefpaf/9255e5cea03f7705a5fe

[2015-03-17 14:08] rsignell-usgs commented on #5
Cool!  Does it work with dimensionless vertical coordinate models like COAWST?

[2015-03-17 14:34] ocefpaf commented on #5
The issue is not the dimensionless coordinate, that loads just fine.  The problem is that iris does not unable perform the any interpolation nor search on 2D coords (X, Y).  I am rolling a version of our own 2D-KDTree for that.

[2015-03-18 00:34] rsignell-usgs commented on #150
@ocefpaf & @jcothran, here are the SECOORA ISOWAFs that are harvested nightly:

https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604653&componentId=&serviceType=ISOWAF&serviceStatus=&serviceUrl=&search=List+Collection+Sources

[2015-03-18 10:37] ocefpaf commented on #150
Does that mean all the data in those endpoints are discoverable via the NGDC CSW?

BTW: The second last URL: http://neptune.baruch.sc.edu/xenia/waf/usc/platform/ seems to be missing an "s", I think it should be: http://neptune.baruch.sc.edu/xenia/waf/usc/platforms

[2015-03-18 10:50] rsignell-usgs commented on #150
@ocefpaf , yipes, that's bad!
Can you raise this "platform(s)" issue on https://github.com/ioos/registry/issues?

[2015-03-18 10:57] ocefpaf commented on #150
Done: https://github.com/ioos/registry/issues/72

[2015-03-18 12:40] ocefpaf commented on #5
@rsignell-usgs I am concerned that the result are wildly different:

http://nbviewer.ipython.org/gist/ocefpaf/64fe42434065dc98c031

 I am using a "nearest" data approach, maybe I should first try to reproduce exactly what `nc_genslice` does...

[2015-03-18 13:39] rsignell-usgs commented on #5
@ocefpaf , I was going to look at this more carefully today, but yes "nearest" is *not* going to be okay for this.  We need to use bilinear interpolation.

[2015-03-18 13:40] ocefpaf commented on #5
I ran a test with iris interpolation, it is worse actually.  I will try to run it again, but right now I am focusing on make it faster.

[2015-03-18 13:42] rsignell-usgs commented on #5
We need to use `bilinear` in lon/lat space, and `linear

[2015-03-18 13:44] ocefpaf commented on #5
Yes, that is exactly what iris is doing:

http://scitools.org.uk/iris/docs/v1.7/iris/iris/analysis/interpolate.html#iris.analysis.interpolate.linear

I am running it again now and I'll post the results as soon as they are ready.

[2015-03-18 14:30] jcothran commented on #150
@ocefpaf @rsignell-usgs  thanks for the spelling catch/correction on the WAF endpoint, I'll let the issue/correction get resolved via github, but let me know if you need me to confirm in a separate email thread directly with Anna Milan

[2015-03-18 19:20] ocefpaf commented on #5
@rsignell-usgs quick question, is `nc_genslice` extracting a straight line based?  (My Matlab is a little rusty)

https://github.com/nctoolbox/nctoolbox/blob/master/cdm/utilities/slicing/nc_genslice.m#L64-102

BTW iris.analysis.trajectory can add a 3rd dimension and extract a full track:

http://nbviewer.ipython.org/gist/ocefpaf/9255e5cea03f7705a5fe

This is closer to the USEAST figure above, but

[2015-03-18 20:57] rsignell-usgs commented on #5
@ocefpaf , `nc_genslice` uses straight lines between subsequent x,y locations along the glider path.  We don't worry about z because we pull all the vertical data from the model at each `x,y,t` location (as if the glider was sampling the entire water column instantaneously).

There is some cleverness here:
https://github.com/nctoolbox/nctoolbox/blob/master/cdm/utilities/slicing/nc_genslice.m#L169-

[2015-03-18 20:57] rsignell-usgs commented on #5
@johnwilkin, did I get this right?

[2015-03-18 21:10] ocefpaf commented on #5
Thanks! I got that, Iguess my Matlab is not that rusty :wink:

My approach above, using iris, interpolates the data at all the glider track points (lon, lat, time).  That should explain some of the differences we are seeing.  This is my Glider/USEAST track:

![download](https://cloud.githubusercontent.com/assets/950575/6719503/cda1e21a-cd99-11e4-8181-96f944538782.png)

If a glider track is almost

[2015-03-18 21:19] rsignell-usgs commented on #5
`nc_genslice` also interpolates the data at all the glider track points (lon, lat, time).

[2015-03-18 21:23] ocefpaf commented on #5
OK, I misread this part.  I was under the impression that it got only the first and last and created a grid between those points.

[2015-03-19 13:43] johnwilkin commented on #5
Rich, yes you are correct that nc_genslice was designed to interpolate to the vector of lon,lat input coordinates (and times if that option is used). So the output should have the dimension (number of vertical levels) x (number of lon/lat points)

I have since modified my roms_genslice.m to take a Npts optional argument, in which case the lon/lat trajectory is interpolated to Npts evenly distribut

[2015-03-23 00:20] ocefpaf commented on #150
Running the notebooks again I can confirm that this data can be found in the NGDC CSW.

[code]

[2015-03-23 00:20] #150 closed

[2015-03-23 15:52] ocefpaf opened #173 "Is there an "archive" endpoint for USEAST?"
@Ruoying, @jcothran and @vembus are USEAST data archive in a similar manner as SABGOM?

[2015-03-23 16:08] rsignell-usgs commented on #173
@kwilcox is interested in this too

[2015-03-23 16:10] rsignell-usgs commented on #173
https://github.com/ioos/secoora/issues/151

[2015-03-24 18:12] ocefpaf opened #176 "Is crow.marine.usf.edu down?"
http://crow.marine.usf.edu:8080/thredds/dodsC/FVCOM-Nowcast-Agg.nc.html seems to be down.

[2015-03-24 18:34] rsignell-usgs commented on #176
@jcothran is listed as the contact on https://www.ngdc.noaa.gov/docucomp/collectionSource/list?recordSetId=2604653&componentId=&serviceType=THREDDS&serviceStatus=&serviceUrl=&search=List+Collection+Sources

[2015-03-24 18:39] ocefpaf commented on #176
jdonovan@usf.edu:

[2015-03-24 18:39] #176 closed

[2015-03-26 19:02] ocefpaf opened #177 "Is http://www.ngdc.noaa.gov/geoportal/csw down?"
http://www.ngdc.noaa.gov/geoportal/csw seems to be down.

I am getting:

    Service Temporarily Unavailable

    The server is temporarily unable to service your request due to maintenance
    downtime or capacity problems. Please try again later.

[2015-03-26 22:03] ocefpaf commented on #177
Its back.

[2015-03-26 22:03] #177 closed

[2015-04-07 13:12] ocefpaf opened #179 "UFL models"
The UFL catalog, http://129.252.139.124/thredds/remoteCatalogService?catalog=http://thredds.coastal.ufl.edu:8080/thredds/catalog.xml, has several links with NAM, WRF, and NHC-SYN for 2D and 3D setups.

When I click on WRF or NHC-SYN I get a FatalError like this one:

http://129.252.139.124/thredds/remoteCatalogService?catalog=http://thredds.coastal.ufl.edu:8080/thredds/catalog/CH3D-SSMS/EastCoast/

[2015-05-10 23:10] ocefpaf opened #181 "Cannot access SECOORA Catalog Platforms"
I cannot access http://129.252.139.124/thredds/catalog_platforms.html.

@jcothran Do you know if it is just maintenance?  Or is something wrong on my side?

[2015-05-11 11:58] ocefpaf commented on #181
It is back today!

[2015-05-11 11:58] #181 closed

[2015-05-11 16:27] ocefpaf opened #182 "SABGOM archive"
@jcothran did this
http://omgarch1.meas.ncsu.edu:8080/thredds/dodsC/fmrc/sabgom/SABGOM_Forecast_Model_Run_Collection_best.ncd.html  changed?  Or is the server down?

[2015-05-11 18:55] ocefpaf commented on #182
Joseph Zambon via e-mail:

[code]

[2015-05-11 18:55] #182 closed

[2015-05-13 13:07] ocefpaf opened #183 "Interpolate temperature time series to a coarser resolution when computing the skill"
As @Ruoying noticed the temperature time-series of most models do not resolve the diurnal cycle, while the observed data (higher resolution) do.

I will experiment with some interpolations to lower resolution to provide a fair comparison and avoid loosing information.

[2015-06-02 15:45] ocefpaf opened #184 "Do not download G1_SST"
The data on http://thredds.axiomalaska.com/thredds/dodsC/G1_SST_GLOBAL.nc.html
is tagged as `coverage_content_type: modelResult` (as reported in  #165 ).

We need to hard-code am if-clause to pass data, because it is not a model, to reduce the notebook run time and avoid spurious comparisons.

[2015-06-02 17:00] rsignell-usgs commented on #184
@kwilcox, or @shane-axiom, can you guys fix this?
We need this to be fixed for the CMG portal also, to facilitate model-data comparison.

[2015-06-23 00:11] #184 closed

[2015-07-31 17:58] ocefpaf opened #188 "Fitler tides and re-compute skill"
SSH skill is usually high due to  correlation with the tides. The solution is to compute the skill twice: one with the original series and then again with the filtered series.

[2015-08-01 22:06] ocefpaf opened #190 "ESTOFS"
ESTOFS is still found using the catalog search, but the returned URL seems to be down:

[http://geoport-dev.whoi.edu/thredds/dodsC/estofs/atlantic](http://geoport-dev.whoi.edu/thredds/dodsC/estofs/atlantic.html)

@rsignell-usgs any ideas?

[2015-08-02 11:07] ocefpaf opened #191 "Refactor notebooks into smaller pieces"
One monolithic notebook to fetch, process, and plot the data is getting awkward...

[2015-08-03 13:38] ocefpaf commented on #188
Done in #192 (using https://github.com/pyoceans/utilities/pull/52)

Note that, as expected, the filtered series skill is much lower than the one computed with tides.

[2015-08-03 13:38] #188 closed

[2015-08-03 21:05] ocefpaf commented on #183
Done #193.

I am re-sampling the all series into 3 hours interval (SABGOM delta-t) before computing the skill.

[2015-08-03 21:05] #183 closed

[2015-08-04 00:41] ocefpaf commented on #191
Done in #192, #193, and #195.

[2015-08-04 00:41] #191 closed

[2015-08-04 18:28] ocefpaf opened #197 "Finding data outside the defined bbox"
The notebooks uses the `bbox` below.

[code]

and filters the data search with this `fes` define filter:

[code]

However, several DAP URLs returned are outside the search box.  See https://github.com/ioos/secoora/blob/master/notebooks/timeSeries/sst/2014-07-07/log.txt#L245-L284.

or more specifically http://thredds.cdip.ucsd.edu/thredds/dodsC/cdip/archive/028p1/028p1_d16.nc.html

These stations m

[2015-08-05 13:08] ocefpaf opened #198 "Download the SECOORA climatology to use as background in the skill"
[Bogden et al. 1996](https://dx.doi.org/10.1029/95JC03705) definition of skill takes into account the climatology as a first guess to produce a more robust skill.  It is interpreted as model error variance normalized by the data variance.

![skill](https://cloud.githubusercontent.com/assets/950575/9086264/d0055f04-3b59-11e5-9ef2-9ad73a5544b7.png)

[code]

[2015-08-05 18:12] ocefpaf opened #199 "Global HYCOM models"
We find [http://oos.soest.hawaii.edu/thredds/dodsC/pacioos/hycom/global.html](http://oos.soest.hawaii.edu/thredds/dodsC/pacioos/hycom/global.html) via the CSW search. However, as @rsignell-usgs mentioned, it would be interesting to have [http://tds.hycom.org/thredds/dodsC/glb_analysis.html](http://tds.hycom.org/thredds/dodsC/glb_analysis.html) too.

[2015-08-05 19:18] ocefpaf opened #200 "Evaluate the skill scores uncertaint"
For `Taylor diagrams` we could use a subset of independent observation to evaluate how the model  performs to the same metric.  For the `Mean Bias` and `RMSE` a bootstrapping could do the trick.

[2015-08-05 20:45] ocefpaf opened #201 "Show both filtered and non-filtered SSH series in the interactive map"
We are no longer displaying the skill for the full SSH series, but it is still informative to show the time-series plot of the raw series.  Maybe a button that switches from the raw to the filtered signal would suffice?

[2015-08-07 16:03] ocefpaf opened #202 "Overall skill table"
Output an overall skill for table each run with all the model found.

[2015-08-11 11:56] ocefpaf opened #204 "Too many calls to get_coops_metadata"
`get_coops_metadata` is called in many place.  It will reduce the notebook run time if we can be smarter about it.

[2015-08-11 12:10] ocefpaf commented on #204
- [X] https://github.com/pyoceans/utilities/pull/70
- [ ] Many more calls in the notebook

[2015-08-11 12:38] rsignell-usgs commented on #197
@ocefpaf, indeed,  the longitude/latitude range metadata in the OPeNDAP dataset are correct, yet the metadata in the [ISO record](http://thredds.cdip.ucsd.edu/thredds/iso/cdip/archive/028p1/028p1_d16.nc?catalog=http%3A%2F%2Fthredds.cdip.ucsd.edu%2Fthredds%2Fcatalog%2Fcdip%2Farchive%2F028p1%2Fcatalog.html&dataset=CDIP_Archive%2F028p1%2F028p1_d16.nc) are *incorrect*, with east longitude and south la

[2015-08-11 18:52] pacioos commented on #197
As documented at the bottom of our ncISO records, PacIOOS is using ncISO
Version 2.3. I've noticed ncISO get the bounds wrong before, but for us
these are rare cases when the dataset is of type RADIAL (i.e. HFR).

Note that ncISO looks in more than one place for the longitude/latitude
range metadata. In addition to looking at CF/NetCDF attributes (e.g.
geospatial_lat_min, etc.) it is also looking

[2015-08-11 20:20] ocefpaf opened #205 "Model-grid to station distance"
Add the model-grid to station distance in the model popup.

[2015-08-11 21:04] rsignell-usgs commented on #197
@pacioos, CDIP is also using ncISO Version 2.3, so I guess the only difference left is that you duplicated the bounds in the THREDDS metadata and also with attributes inside the dataset, yet CDIP they only specified the bounds with attributes inside the dataset.

But that should be okay, so it sounds like we have a bug in ncISO for when you only specify the attributes.

But do you understand the x

[2015-08-12 15:22] rsignell-usgs commented on #197
@amilan17 or @shane-axiom, how about you guys?
Can you spot the issue in the XSL?

[2015-08-12 16:56] amilan17 commented on #197
The NcML has the lat and lon described twice.

First as described above
[code]
Secondly in a CFMetadata group
[code]
As you can see the CF Metadata attributes are wrong and this is what the XSL is looking at translating first. I'm not sure why these attributes are not correct in the NcML....

http://thredds.cdip.ucsd.edu/thredds/ncml/cdip/archive/028p1/028p1_d16.nc?catalog=http%3A%2F%2Fthredds.cdi

[2015-08-12 17:44] rsignell-usgs commented on #197
Anna,

Very interesting.   The NcML service is of course also produced by ncISO, so if the problem is not in the XSL, then in must be in the ncISO java code itself.

Because CDIP is specifying these attributes correctly in the original data as evidenced by the global attributes here:
http://thredds.cdip.ucsd.edu/thredds/dodsC/cdip/archive/028p1/028p1_d16.nc.html
Note there is only one correct spec

[2015-08-12 18:08] amilan17 commented on #197
searching for 'CFMetadata' might get you closer to where this code is in
the java.
https://github.com/Unidata/threddsIso/search?utf8=%E2%9C%93&q=CFMetadata&type=Code

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~

[2015-08-12 18:11] shane-axiom commented on #197
CFMetadata geospatial extent is calculated here:

https://github.com/Unidata/threddsIso/blob/master/src/main/java/thredds/server/metadata/util/ThreddsExtentUtil.java#L205

It doesn't appear to care about the `geospatial_min_lat` etc attributes and instead scans through the latitude and longitude variables.

The dataset in question (028p1_d16.nc) does actually have 0 values in both the lat and lon

[2015-08-12 18:13] ocefpaf commented on #197
@shane-axiom Awesome!  Thanks for pinpointing this!!

[2015-08-12 18:21] rsignell-usgs commented on #197
Interesting, but ncISO should *not* be reading `gpsLongitude` and `gpsLatitude`!

Looking at the OPeNDAP access form:
http://thredds.cdip.ucsd.edu/thredds/dodsC/cdip/archive/028p1/028p1_d16.nc.html
I see the `coordinates` attribute on every variable points to `metaDeployLatitude` and `metaDeployLongitude`, which *do* have valid values:
http://thredds.cdip.ucsd.edu/thredds/dodsC/cdip/archive/028p1/

[2015-08-13 00:50] geoneubie commented on #197
FeautreType is not grid for this dataset so ncISO knows it can't get lat
long values in the traditional way of calculating them from the CF
CoordinateAxes (because the values returned by the NetCDF libraries are not
the true lat lon min max values in that case).  So ncISO loops through the
available variables until it finds one with a standard_name attribute of
latitude or longitude.  In this inst

[2015-08-13 00:56] shane-axiom commented on #197
Should ncISO check for the existence of `geospatial_min_lat` et al. and use those values if present, regardless of whether the dataset is or isn't a grid?

[2015-08-13 02:18] geoneubie commented on #197
ncISO does check, but the precedence rules favor calculated values over human maintained values (to answer Rich's earlier question).  These can easily be overriden at an individual site by modifying the xslt at the local TDS install.

[2015-08-14 11:31] ocefpaf opened #206 "Interpolate the data within max and min dates of the whole series"
Right now I interpolate the data for plotting and skill using a 30 points limit to avoid huge extrapolations.  That is fine for most SECOORA applications due to the high resolution of the data and most of the models.

To make this more generic we can find a max and min valid dates for all the series (excluding low temporal resolution models) and interpolate only within that range.

[2015-09-14 15:29] lukecampbell commented on #197
FWIW I'm in favor of having the values calculated using data in the variable in lieu of the global attributes. In my experience, unless automation is in play, most folks don't update metadata once the base set has been applied.

[2015-09-14 16:06] rsignell-usgs commented on #197
@lesserwhirls, @dopplershift or @cwardgar, I'm wondering about this @geoneubie statement above:

"`FeatureType` is not `grid` for this dataset so ncISO knows it can't get lat long values in the traditional way of calculating them from CF CoordinateAxes (because the values returned by the NetCDF libraries are not the true lat lon min max values in that case)."

The `FeatureType` for the dataset in

[2015-09-15 08:44] cwardgar commented on #197
Hi Rich,

The CF feature type `timeSeries` maps to the CDM feature type `STATION`. A `STATION` is expected to be fixed at a single lat/lon location, and so there are no **meaningful** methods for finding a bounding box. The relevant interface is [StationTimeSeriesFeature](https://www.unidata.ucar.edu/software/thredds/current/netcdf-java/javadoc/ucar/nc2/ft/StationTimeSeriesFeature.html).

You'll n

[2015-09-15 10:37] rsignell-usgs commented on #197
@cwardgar , so what should the logic be to determine the lon/lat extent of this `timeSeries` feature type?

ncISO is just picking the first variables it finds with `standard_name` of `longitude` and `latitude`, which is `gpsLatitude` and `gpsLongitude`, instead of `metaDeployLatitude` and `metaDeployLongitude`.  The latter are single point values defined in the `coordinates` attributes of the data

[2015-09-15 20:48] rsignell-usgs commented on #197
@geoneubie, the CDIP folks (Darren Wright) removed the `standard_name` attribute from `gpsLongitude` and `gpsLatitude` variables on these problem datasets (see
 the OPeNDAP URL http://thredds.cdip.ucsd.edu/thredds/dodsC/cdip/archive/028p1/028p1_d16.nc.html
for example), but the ISO metadata produced by ncISO is still showing 0.0 for min lat and lon:

http://thredds.cdip.ucsd.edu/thredds/iso/cdip/a

[2015-09-15 22:37] cwardgar commented on #197
@rsignell-usgs, in the CDM, stations (i.e. `timeSeries`) are associated with a single lat/lon location, even if it's nominal (so `metaDeployLatitude` and `metaDeployLongitude` should be what the CDM chooses). We don't have a concept of a buoy that drifts away from an initial location. However, a potential way to solve that would be to subclass `StationTimeSeriesFeatureImpl` and then override `getB

[2015-09-23 13:31] ocefpaf opened #207 "Support CMAEPS"
http://cfdl.meas.ncsu.edu/SECOORA/description.html

[2015-09-23 13:38] rsignell-usgs commented on #207
It would be nice to replace the [Web Server component](http://cfdl.meas.ncsu.edu/SECOORA/index.html) (which seems broken) with dynamic javascript that accesses data via WMS and SciWMS services.    Is this something SECOORA is doing with their new portal?

[2015-09-23 15:51] rsignell-usgs commented on #207
I see there is a SECOORA Data Portal showing SABGOM results here: http://axiomdatascience.com/maps/secoora/#map?lg=2660df19-5447-467b-b8c3-f62b01365342&p=proj3857&b=google_hybrid
but the data ends in January 2015.

[2015-09-23 15:55] vembus commented on #207
Rich, the answer to your earlier comment is Yes and work is in progress to make it current as to the SABGOM results and other model results.

[2015-10-03 08:16] ocefpaf opened #208 "SECOORA catalog platforms is returning 503"
http://129.252.139.124/thredds/catalog_platforms.html

[code]

[2015-10-03 08:18] ocefpaf commented on #208
@jcothran is that a schedule maintenance?
@vembus I run things without SECOORA observations and I will add them later when the service comes back online.

[2015-10-03 09:24] ocefpaf commented on #208
OK. It seems to be back.  Let's hope it will be stable over the weekend.

[2015-10-03 09:24] #208 closed

[2015-10-05 12:53] ocefpaf commented on #179
OK.  It seems that these catalogs are dead.  Closing this.

[2015-10-05 12:53] #179 closed

[2015-10-05 13:00] ocefpaf commented on #190
OK.  ESTOFS is back online and I did not notice.  The logs show that the notebooks are picking it up.

However, the data is not being paired with any station.  I still have an issue somewhere else down the road...

[2015-10-05 13:03] ocefpaf commented on #197
I cannot fix this issue for the skill-score as it is a data provider issue.  A workaround is already in place and my notebooks are ignore these stations.  So I am closing this issue.

PS: Please feel free to continue using this thread to discuss the problem though. I am just cleaning the secoora skill score issue tracker.

[2015-10-05 13:03] #197 closed

[2015-10-05 13:04] ocefpaf commented on #199
@rsignell-usgs do you have any ideas why we do not pick http://tds.hycom.org/thredds/dodsC/glb_analysis up in the catalog search?

[2015-10-05 13:10] ocefpaf commented on #202
Right now the outputs are:

- R2
- Low pass R2
- Low pass, dt = 3 hours, R2
- Mean Bias
- Root Mean Squared

We also plot Taylor diagrams for each station and all models.

I plan to construct an overall Taylor diagram for each run.  That might be misleading in some cases, but it will help to summarize the results in one figure.  The users will have access to all the individual tables and graphs th

[2015-10-05 13:11] ocefpaf commented on #204
PR #209 closes this.

[2015-10-05 13:11] #204 closed

[2015-10-05 13:35] rsignell-usgs commented on #190
It's not working even in the inundation notebook?

[2015-10-05 13:53] ocefpaf commented on #206
On second thought.  Excluding the low resolution is not OK.  I'd rather have a useless comparison, but show that the models exists, than omitting these models. They are very few and only global HYCOM comes to mind.

[2015-10-05 13:53] #206 closed

[2015-10-05 13:54] ocefpaf commented on #190
Nope.  I think I know where to problem is.  I will address that later today.

[2015-10-06 12:14] rsignell-usgs commented on #190
Is it related to this issue? https://github.com/ocefpaf/boston_light_swim/issues/2

[2015-10-06 12:17] ocefpaf commented on #190
Yep.  That is another bug fixed thanks to [boston_light_swim](https://github.com/ocefpaf/boston_light_swim)!

[2015-10-06 12:17] #190 closed

[2015-10-06 12:17] ocefpaf commented on #190
See #209

[2015-10-06 13:55] ocefpaf opened #211 "Report"
Write a small report/abstract on the skills we have implemented and those that we are planning to implement.

[2015-10-06 14:29] rsignell-usgs commented on #190
nice!

[2015-10-07 13:37] ocefpaf commented on #173
I guess people will let us know if they start archiving it.  Closing this.

[2015-10-07 13:37] #173 closed

[2015-10-07 13:38] ocefpaf commented on #95
It is virtually impossible to run their tested bed without all the files and other missing steps.  I will adapt our as we go.

[2015-10-07 13:38] #95 closed

[2015-10-07 13:45] ocefpaf commented on #201
After some thought and discussions we found out that this is not an important information.  It serves only to separate tidal from non-tidal resolving models.

[2015-10-07 13:45] #201 closed

[2015-10-08 13:38] ocefpaf opened #215 "SECOORA assets map"
@vembus mentioned that we should produce an updated map displaying all the SECOORA buoys, gliders, radars, etc. We can probably pull the positions and some other metadata from a catalog search and re-run it weekly to get an updated version of the map.

[2015-10-08 13:40] vembus commented on #215
Kyle has set up one for us for the proposal, I wanted to check as to best way to have this set up, as often we need such a map requested for proposal etc.

[2015-10-08 13:41] vembus commented on #215
Need to get this revised updated etc.

[2015-10-08 13:43] ocefpaf commented on #215
Thanks! That means I have a place to start.

Ping @kwilcox. Can you share your experiences/current way to produce the figure @vembus mentioned?

[2015-10-14 16:52] ocefpaf commented on #215
@vembus

Please take a look at this notebook below:

http://nbviewer.ipython.org/github/ioos/secoora/blob/master/AbstractsPostersPresentations/SECOORA_assesets_map/SECOORA_assets_map.ipynb

If that is OK we now have a way to go from the Excel file to GeoJSON objects.

The GeoJSONs can use to create the assets map (interactive or static).

[2015-10-14 17:08] vembus commented on #215
Thanks, Looks neat. Vembu

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Filipe <notifications@github.com>
Date: 10/14/2015  12:52 PM  (GMT-05:00)
To: ioos/secoora <secoora@noreply.github.com>
Cc: Vembu Subramanian <vembu@secoora.org>
Subject: Re: [secoora] SECOORA assets map (#215)

@vembus

Please take a look at this notebook below:

http://nbviewer.ip

[2015-10-14 17:15] rsignell-usgs commented on #215
@ocefpaf, just for fun, I tried dropping one of the json output files from your notebook into the TerriaJS-based portal (tampabaymap.org) that @metanomy set up, and it worked just fine:
![2015-10-14_13-12-00](https://cloud.githubusercontent.com/assets/1872600/10491582/558fa4a2-7275-11e5-907a-abb8191e13e2.png)

[2015-10-14 17:37] ocefpaf commented on #215
@rsignell-usgs

Cool! The idea is to find an easy way to go from an updated Excel spreadsheet to an assets map.  I guess we are almost there.  I still need to save all polygons as one GeoSJON storing the station name in the file.  Then you could plot everything in one step.

[2015-10-14 17:43] metanomy commented on #215
@ocefpaf If there is a way to invoke the execution of your notebook through an API, I can test adding that data output as a layer in our portal, with the idea being that anytime a user selects the layer, the notebook executes and returns dynamic data.

[2015-10-14 17:43] vembus commented on #215
Cool!!

Sent from my Verizon Wireless 4G LTE smartphone

-------- Original message --------
From: Rich Signell <notifications@github.com>
Date: 10/14/2015  1:15 PM  (GMT-05:00)
To: ioos/secoora <secoora@noreply.github.com>
Cc: Vembu Subramanian <vembu@secoora.org>
Subject: Re: [secoora] SECOORA assets map (#215)

@ocefpaf, just for fun, I tried dropping one of the json output files from your noteb

[2015-10-14 17:50] rsignell-usgs commented on #215
@metanomy , we once had a plan (@vembus, @ocefpaf and I) to turn some of these workflows into custom services using flask, basically passing the parameters needed to run the script as parameters in the URL request to the service.    Our first service was going to be the water level comparison service, where the user specifies a bounding box and a time extent, and gets back the water level time ser

[2015-10-14 17:51] kwilcox commented on #215
@ocefpaf did you see this? https://github.com/SECOORA/static_assets

[2015-10-14 17:53] metanomy commented on #215
@rsignell-usgs This is where we want Jupyter. It gets even better - I think we can integrate this library (http://jupyter.org/jupyter-js-services/) into TerriaJS so that notebooks become just another catalog type.

[2015-10-14 18:01] ocefpaf commented on #215
@kwilcox Nope.  I pinged you before starting this to avoid re-inventing the wheel.  Too late...

@metanomy I do not have experience building these kind of services, but it is possible and I do want to start doing things that way.  (And I guess it will relatively easy based on other people experiences.)

[2015-10-14 18:18] ocefpaf commented on #215
@rsignell-usgs and @metanomy I guess that  TerriaJS can take both shapefiles and GeoJSONs, correct?

My question is: what is the preferred format to save these features?

PS: I usually prefer GeoJSONs for its simplicity and the fact that is one file instead of 4 (`.shp, .shx, .dbf, and .sbn`)

[2015-10-14 18:26] metanomy commented on #215
@ocefpaf GeoJSON is great for vector data. TerriaJS can even do CSV (with "lat" and "lon" as the headers for latitude and longitude values). If you have time-series data, TerriaJS will animate (with a time slider, no less) the CSV data, as long as the column with the time stampe has the word "time" in the header.

[2015-10-14 18:31] ocefpaf commented on #215
@kwilcox  I see you are using different values for the radar range.

[code]

Mine are from [this](https://gist.github.com/ocefpaf/1fa5bc0b1eaa9d51580a) GMT script @vembus sent me.

@vembus that information should be added to the spreadsheet to avoid a [world wide economic recession](http://www.bloomberg.com/bw/articles/2013-04-18/faq-reinhart-rogoff-and-the-excel-error-that-changed-history) :wink:

[2015-10-14 18:33] ocefpaf commented on #215
@metanomy thanks!  I looked into TerriaJS some time ago and all I remember is that I found it awesome, but never got time to actually build anything using it.  I guess it is time to fix that!!

[2015-10-14 20:11] metanomy commented on #215
@ocefpaf @rsignell-usgs I think we can use Falcon (http://falconframework.org/) to build an API wrapper around an iPython notebook. I think the only part that I'm unsure of is how to configure the notebook to save the Geojson as a file that the API can then return to the calling client.

[2015-10-15 11:30] ocefpaf commented on #215
Thanks @metanomy falcon seems an interesting framework.  However, I think we can make things simpler and even drop the notebook. (I only use notebook to show literate versions of my scripts.)

@kwilcox approach, for example, is virtually 100% standard library and probably might lighter and more adequate than mine.  Mine requires pandas, xlrd, matplotlib, and shapely!

The only advantage of my appr

[2015-10-15 11:36] metanomy commented on #215
@ocefpaf I'm happy to help test your script with tampabaymap.org, if that would be helpful. I still think there is value with putting an API around a notebook, especially for some of the more complicated uses cases that @rsignell-usgs has explored (multi-catalog query, mult-model comparison, etc).

[2015-10-15 11:39] ocefpaf commented on #215
Oh yes! I am VERY interested in that as well.  (In fact I that high priority in my TODO.)

I meant just the current case deserves a simpler solution.

[2015-10-15 11:42] metanomy commented on #215
@ocefpaf Another option is to install this script to the Google Sheet (https://github.com/mapbox/geo-googledocs/), and then anytime someone updates the data, they just regen the GeoJSON.

[2015-10-15 13:57] kwilcox commented on #215
There is already an OGC service standard for vector data (WFS). I'm assuming TerriaJS can support requesting GeoJSON from a GeoServer based WFS?  We should work on setting up the workflow for getting the Google Spreadsheet into SECOORA's GeoServer and push people to that. It will also show up in the SECOORA Data Portal (searchable and discoverable by anyone).

[2015-10-15 15:43] rsignell-usgs commented on #215
Yes, TerriaJS can consume data from an WFS endpoint (that's one of the 1st things I tried).

To test this for yourself, try going to http://nationalmap.gov.au, click the "+Add data" button and drop this WFS endpoint URL:
WFS endpoint: https://www.sciencebase.gov/catalogMaps/mapping/ows/5342c5fce4b0aa151574a8ed
![2015-10-15_11-42-27](https://cloud.githubusercontent.com/assets/1872600/10519034/e5220

[2015-10-16 15:38] metanomy commented on #215
@ocefpaf Is there any reason the data in the spreadsheet shouldn't be hosted as a layer inside a geospatial server (like Geoserver) as @kwilcox suggests? You could even use GeoExplorer (or any other WFS-T client) to edit the data as necessary.

[2015-10-16 15:56] ocefpaf commented on #215
No reason.  It definitely should!

[2015-10-17 20:05] ocefpaf opened #217 "NGDC catalog is down"
Waiting for http://www.ngdc.noaa.gov/geoportal/csw to get back online to run this week `fetch_data`.

[2015-10-18 02:30] rsignell-usgs commented on #217
@amilan17 or @geoneubie, is this a scheduled downtime?

[2015-10-19 16:27] amilan17 commented on #217
This is not a scheduled down time. We are troubleshooting it now. ​

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Sat, Oct 17, 2015 at 8:30 PM, Rich Signell <notifications@github.com>
wrote:

[2015-10-19 19:43] ocefpaf commented on #215
@vembus

This is a proof of concept:

http://nbviewer.ipython.org/github/ioos/secoora/blob/master/AbstractsPostersPresentations/assets_map/assets_map.ipynb

It is not as pretty as @kwilcox's version and there are some things yet  to be done. However, this version is hackable, and everything used to construct the map is in the repository.  So it is relatively easy to modify and update it.

Things t

[2015-10-19 20:06] ocefpaf commented on #215
Here is a PNG version with a stolen legend:

![static](https://cloud.githubusercontent.com/assets/950575/10589802/9c3cee34-7683-11e5-9006-51877bda1d23.png)

[2015-10-19 22:48] ocefpaf commented on #215
@vembus the link below has a full screen interactive version of the map.

http://ocefpaf.github.io/secoora_assets_map/secoora_assets.html

@kwilcox I went ahead and create a separate repo [here](https://github.com/ocefpaf/secoora_assets_map).  I will add the updates there.

[2015-10-20 00:59] amilan17 commented on #217
Geoportal is back online.
Thanks for your patience.

Anna
*~~~~~~Metadata Adds Meaning.~~~~~~*
Anna.Milan@noaa.gov, 303-497-5099
NOAA National Centers for Environmental Information
formerly NOAA’s National Geophysical Data Center
http://www.ngdc.noaa.gov/metadata/emma
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*

On Sat, Oct 17, 2015 at 8:30 PM, Rich Signell <notifications@github.com>
wrote:

[2015-10-20 09:59] ocefpaf commented on #217
Thanks @amilan17!

[2015-10-20 09:59] #217 closed

[2015-10-22 12:51] metanomy commented on #215
@vembus Are you running any kind of WMS/WFS server that could host this data? It would be (selfishly) helpful to display on tampabaymap.org. But also nice for others to ingest for their data, too.

[2015-10-22 13:18] kwilcox commented on #215
@metanomy SECOORA runs a Geoserver that can be used

[2015-10-22 13:21] metanomy commented on #215
@kwilcox Awesome - is that publically accessible?

[2015-10-22 13:24] kwilcox commented on #215
I haven't been following this closely enough! The original map was produced using Mapbox, solely because of the labeling requirements. The labels were all somewhat manually placed where you see them; Mapbox supports that while most other services don't or the support was too limiting.

Mapbox was a short term solution. The long term is to setup a periodic Drive to GeoServer converter (GIS format i

[2015-10-22 13:47] metanomy commented on #215
Let me know if there is anything Metanomy can do to help. As soon as the check clears, we'll be an official member of SECOORA.

[2015-10-22 14:04] ocefpaf commented on #215
@kwilcox I want your opinion on something.

I wanted to go from the Excel spreadsheets to GeoJSONs features:

- `MultiLinestring` for glider
- `MultiPoint` to a each set of observations
- `MultiPolygon`+ for the hf-radar ranges wedge.

Leaflet can add a PNG icon to each `Point` afterwards and we can easily generate and update the map.

Do you think this is worth pursuing?  Or do you have other pla

[2015-10-22 14:42] metanomy commented on #215
@ocefpaf I found a great site that made it easy to convert GeoJSON to SHP (helpful for import into Geoserver, although you should be able to do a direct GeoJSON import through the REST API): http://www.mapshaper.org/

[2015-10-22 14:49] ocefpaf commented on #215
@metanomy we can do a shapefile directly from python.  I just like GeoJSON better for its readability.

I just don't want to go ahead and do something again just to find out that @kwilcox already did it.

[2015-10-28 13:45] ocefpaf commented on #215
@kwilcox I cleaned up my scripts and updated the data.  Maybe that is useful for you.

I am converting the spreadsheets to GeoJSONs and Shapefiles with [data_frame2gis.py](https://github.com/ocefpaf/secoora_assets_map/blob/gh-pages/data_frame2gis.py).

The GeoJSONs for [stations](https://github.com/ocefpaf/secoora_assets_map/blob/gh-pages/data/stations.geojson) and [hfradars](https://github.com/oc

[2015-11-02 13:44] ocefpaf commented on #215
Almost there.  Next version of folium has custom icons.  Parsing the GeoJSON to create the assets map became much easier (and less hackish) now:

http://nbviewer.ipython.org/github/ocefpaf/secoora_assets_map/blob/gh-pages/test_geojson.ipynb

[2015-11-08 14:26] ocefpaf opened #225 "Unable to run SECOORA notebooks"
I am still debugging this but any help is appreciate.  (ping @kwilcox and @rsignell-usgs)

[code]

[2015-11-08 17:28] ocefpaf opened #226 "Convert notebooks to conda-execute scripts..."
... and

- dockerize them
- run daily
- produce static tables, graphs, and map for SECOORA webpage.

[2015-11-09 11:46] rsignell-usgs commented on #225
Hmm, I don't know.  Seems like the service is working:
http://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS?service=SOS&request=GetObservation&version=1.0.0&observedProperty=air_temperature&offering=urn:ioos:station:NOAA.NOS.CO-OPS:8454000&responseFormat=text%2Fcsv&unit=Celsius

[2015-11-09 12:18] ocefpaf commented on #225
I just tested and the issue persists.  I guess something changed and the way we used to construct the URL is no longer valid.  I will take a better look later today.

(I was hoping for a simple fix :unamused:)

[2015-11-09 13:00] rsignell-usgs commented on #225
This works fine for me on linux64:
[code]
This is with
[code]

[2015-11-09 13:05] ocefpaf commented on #225
The problem today is different:

[code]

[code]

[2015-11-09 13:08] rsignell-usgs commented on #225
Excecuting that "bad URL" returns the error message:
"No station objects available for water_surface_height_above_reference_datum in collection."

[2015-11-09 13:10] ocefpaf commented on #225
I Yep.  But I should find some stations with `water_surface_height_above_reference_datum`, right? Or maybe the variable named changed?

[2015-11-10 18:56] ocefpaf commented on #225
Something must have changed in http://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS.

I am slowly finding out what.  The snippet below, for example, used to work:

[code]

But now I have to change the `'outputFormat'` to `text/xml;subtype="sensorML/1.0.1/profiles/ioos_sos/1.0"`

[2015-11-10 19:31] ocefpaf commented on #225
This is annoying.  Before we could do this:

[code]

And that would return the `longName` and the `stationID`, but now the `longName` has the `stationID`!  In the example above I get:

`a = 'urn:ioos:station:NOAA.NOS.CO-OPS:8720218 station, Mayport (Bar Pilots Dock), FL'`
and
`b = 'urn:ioos:station:NOAA.NOS.CO-OPS:8720218'`

[2015-11-10 19:45] vembus commented on #225
Not sure, may be contact IOOS.Webmaster@noaa.gov as to this??

[2015-11-10 19:58] rsignell-usgs commented on #225
@dpsnowden , do you know who to contact here on these frustrating changing SOS services at CO-OPS?

[2015-11-10 20:11] kwilcox commented on #225
Worth a shot:

[code]

[2015-11-17 15:15] rsignell-usgs commented on #225
Okay, I asked the coops folks, and Xiaoyan Li - NOAA Affiliate
xiaoyan.li@noaa.gov responded right back:

"SOS DescriberSensor response had been changed to follow the templates from:
https://code.google.com/p/ioostech/source/browse/#svn%2Ftrunk%2Ftemplates%2FMilestone1.0

The changes are:
[code]

These changes had been pushed to COOPS-SOS Test version half years ago:
http://opendap.co-ops.nos.noaa

[2015-11-17 15:18] ocefpaf commented on #225
OK.  Thanks.

Time to bite the bullet and start re-writing my notebooks and pyoos :disappointed:

[2015-11-24 20:48] ocefpaf opened #227 "HyCOM data disapeared"
HyCOM model from PACIOOS, http://oos.soest.hawaii.edu/thredds/dodsC/pacioos/hycom/global,  is still found in a catalog search but the data is not there.

See http://nbviewer.ipython.org/gist/ocefpaf/ce7c23b25263050550c0

@rsignell-usgs Any ideas?

[2015-11-26 11:28] #225 closed

[2015-11-26 11:29] ocefpaf commented on #225
Fixed in #228

[2015-11-26 13:45] ocefpaf commented on #227
Fetching that HyCOM URL is flaky.  I won't investigate it further and I will keep the logs as reference for the issue.

[2015-11-26 13:45] #227 closed

[2015-11-26 13:46] ocefpaf commented on #215
@kwilcox merged our efforts in https://github.com/SECOORA/static_assets

[2015-11-26 13:46] #215 closed

[2015-11-26 14:23] ocefpaf opened #229 "Better interactive plots with bokeh"
Sadly, I cannot a new release of mpld3 soon (see https://github.com/jakevdp/mpld3/issues/311).
Maybe it is time to use Bokeh plots.

[2015-11-27 02:59] rsignell-usgs commented on #227
@pacioos?

[2015-11-27 03:00] rsignell-usgs commented on #227
@ocefpaf , does the search pick up the HYCOM from oceannomads?

[2015-11-27 09:38] ocefpaf commented on #227
Nope.  The only HYCOM the catalogsearch finds is the one from pacioos. (See #199.)

[2015-11-27 09:39] ocefpaf commented on #199
@rsignell-usgs mention in #227

[2015-11-27 12:59] rsignell-usgs commented on #199
@jcothran or @kwilcox, SECOORA now has a WAF, right?
Since the global hycom products at
http://tds.hycom.org/thredds/dodsC/glb_analysis
are from FSU, perhaps you could crawl the thredds catalogs and add to the SECOORA WAF so that these get picked up?

[2015-11-30 18:08] pacioos commented on #227
Seems to be working this morning. Perhaps our TDS or the upstream provider
had a temporary outage?
Cheers,
John Maurer, PacIOOS

On Thu, Nov 26, 2015 at 4:59 PM, Rich Signell <notifications@github.com>
wrote:

[2015-11-30 18:30] ocefpaf commented on #227
Thanks John Maurer (@pacioos).

[2015-11-30 21:46] rsignell-usgs commented on #199
@jcothran , ping!

[2015-11-30 22:11] ocefpaf opened #230 "Bad SOS URL respose"
The URL [1] worked last week, but now it returns:

[code]

[1] [http://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS?eventTime=2015-11-21T12:00:00Z&service=SOS&offering=urn:ioos:network:NOAA.NOS.CO-OPS:WaterLevelActive&request=GetObservation&version=1.0.0&responseFormat=text/csv&featureOfInterest=BBOX:-87.4,24.25,-74.7,36.7&observedProperty=water_surface_height_above_reference_datum](http://opendap

[2015-11-30 22:15] ocefpaf commented on #230
After a few refreshes the response changes back to the expected `csv`.

[2015-12-01 15:49] jcothran commented on #199
@rsignell-usgs @ocefpaf @kwilcox

Hey Rich,

SECOORA has a WAF endpoint, if you want to add xml records to be pulled from there as a proxy for global models or whatever else you have in mind, I'm ok with but seems like more of an IOOS catalog level issue(maybe there should be an IOOS WAF catch-all for super-regional, global models, etc) than an RA-specific one.  In the meantime if you want to send

[2015-12-05 18:59] ocefpaf opened #231 "Cannot run SECOORA notebooks due to ConnectTimeoutError"
[code]

[code]

[2015-12-08 13:30] rsignell-usgs commented on #231
I just tried this request and it works:

http://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS?service=SOS&request=GetObservation&version=1.0.0&observedProperty=water_surface_height_above_reference_datum&offering=urn:ioos:station:NOAA.NOS.CO-OPS:8454000&responseFormat=text%2Fcsv&eventTime=2015-12-08T00:00:00Z/2015-12-08T23:59:00Z&result=VerticalDatum%3D%3Durn:ogc:def:datum:epsg::5103&unit=Meters

[2015-12-08 13:46] ocefpaf commented on #231
Yep.  The service seems to be back online.  I am re-starting the notebooks...

[2015-12-08 13:46] #231 closed

[2015-12-11 12:03] ocefpaf opened #232 "NDBC/COOPS endpoint and pass it to a pyoos request"
@emiliom mentioned:

Not really.  We do that jump in many places (SECOORA included) and we never explained it.

That would be nice.  I am opening this issue to tackle that request.

[2015-12-11 12:03] #230 closed

[2015-12-11 15:39] ocefpaf opened #233 "Rename the repo..."
to skill_score.

[2015-12-11 15:55] rsignell-usgs commented on #230
It worked first time for me.

[2015-12-11 15:58] ocefpaf commented on #230
Yeah, these are intermittent failures.  I just report them here to explain delays in the skill score results.

[2015-12-12 02:29] emiliom commented on #232
Interesting. Thanks. I could be persuaded to help with this, if the timing is right (I'm not too swamped).

It's interesting/odd that the CSW query returns no COOPS service endpoints. If you go to the IOOS Catalog Map (http://catalog.ioos.us/map/), you'll find "NOOA-CO-OPS" sites in Boston Harbor; but I can't say if the ones shown meet the query criteria for variables and bounding box.

[2015-12-12 21:28] ocefpaf commented on #232
I will investigate that in a future post.  Thanks!

[2016-01-05 15:45] ocefpaf opened #234 "HF-radar side-by-side comparison"
Publish them in the main page.

[2016-01-17 16:30] ocefpaf commented on #233
Done.

[2016-01-17 16:30] #233 closed

[2016-03-27 19:13] ocefpaf opened #238 "Cannot run skill-score notebooks"
I will take a look at this first thing tomorrow.

[code]

[2016-03-27 19:26] ocefpaf commented on #238
Note to self: http://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS is returning

[code]

pyoos should test for that and output a better error message.

[2016-03-31 17:11] ocefpaf commented on #238
Looks like some schedule maintenance. Solved now.

[2016-03-31 17:11] #238 closed, assigned to ocefpaf

[2016-04-09 23:08] ocefpaf opened #239 "Cannot run the notebooks"
I guess that the system is under maintaince again. The URL http://opendap.co-ops.nos.noaa.gov/ioos-dif-sos/SOS returns a `503` error.

[2016-04-11 21:57] ocefpaf commented on #239
Seems to be another maintenance. The site is responding today.

[2016-04-11 21:57] #239 closed, assigned to nobody

[2016-05-06 12:03] ocefpaf opened #240 "Plan to incorporate the results in the new portal"
@kwilcox and @vembus now that the new SECOORA portal is online I should work to get the skill results displayed in there too.

@kwilcox I am not sure what would be the best approach, but I am sure that the current notebooks are no good for a production site. Here is my naive plan and I would love to get your feedback:
- [X] Convert the notebooks to scripts
- [ ] Put those scripts in a docker image

[2016-05-09 14:16] ocefpaf opened #241 "Teach how to run the notebooks"
- [ ] clean up the notebooks (@ocefpaf)
- [ ] create an env file and install instructons (@ocefpaf)
- [ ] video (@rsignell-usgs :wink:)

[2016-05-10 14:21] kwilcox commented on #240
SECOORA is in the process of putting together "external software contribution requirements" for this exact purpose... being able to easily integrate applications and products that were developed outside of the core DMAC team.

While the requirements are not complete, it boils down to:
1. A self-contained `docker` or `docker-compose` based application that SECOORA can run on their own infrastructur

[2016-06-11 22:31] ocefpaf commented on #240
The right answer is probably yes. The skill per-se is not a quantity that exists in the CF document, but the data processed for the calculation already are `CF-1.5` (time-series, 2D iso-surfaces, and trajectories).

I can provide both the data (CF-netCDF) and the skill in a light weight JSON.

@kwilcox Do you think we can setup a call to talk about the details?

PS: Meanwhile I will work on a dock

[2016-06-27 17:33] ocefpaf opened #242 "Cannot find SECOORA data in platforms"
@kwilcox and @vembus I just check the SECOORA skill score logs and I reliazed it has been broken for a while. I cannot find SECOORA data in the platforms URL I have as a data source (http://129.252.139.124/thredds/catalog_platforms.html). All datasets are returning:

[code]

[2016-06-27 18:09] ocefpaf commented on #242
@kwilcox just informed me that the observations moved to `ERDDAP`. I have to adapt the scripts to find the observations there.

See http://erddap.secoora.org/erddap/search/index.html?page=1&itemsPerPage=1000&searchFor=C12
and http://secoora.thredds.axiomdatascience.com/thredds/catalog.html

[2016-07-27 20:26] ocefpaf commented on #242
@kwilcox did you had time to look into enabling the `THREDDS` back? Or should I give it up and try to change the workflow to `ERDDAP`?

[2016-08-01 20:00] ocefpaf commented on #240
This is stuck until we solve #242 and merge #243.

[2016-08-01 20:15] kwilcox commented on #242
Back from a trip, this week @ocefpaf, this week.

[2016-08-01 20:15] ocefpaf commented on #242
Just poking :stuck_out_tongue_winking_eye:

Thanks @kwilcox!

[2017-06-24 23:39] ocefpaf commented on #5
We can do that with iris trajectories. I forgot to close this issue.

[2017-06-24 23:39] #5 closed

[2017-06-24 23:57] ocefpaf commented on #199
This issue is no longer pertinent since a lot have change since I opened it.

[2017-06-24 23:57] #199 closed

[2017-08-08 18:23] ocefpaf commented on #202
Parts of these were already implemented in the latest version of the notebook.

[2017-08-08 18:23] #202 closed

[2017-08-08 18:23] ocefpaf commented on #205
Parts of these were already implemented in the latest version of the notebook.

[2017-08-08 18:23] #205 closed

[2017-08-30 19:19] rsignell-usgs commented on #197
@lesserwhirls, it seems the fundamental problem here is that nciso is not using the built-in netcdf-java functionality for determining the bounding box.   Do you agree?

If you do agree, then perhaps @noaaroland can take a look, with @kevin-obrien approval, of course.

[2017-08-30 20:02] lesserwhirls commented on #197
Yes. However, moving the code to use the PointFeature stuff is probably not a super simple task, and it's changed so much in v5.0, that it would probably be worth waiting to make that change to ncIso once it is using v5.0. I do have a branch of ncIso building with the latest snapshot of v5.0 (probably needs updated with latest changes to master), and would happily welcome any feedback on the 5.0 a

[2020-01-20 07:52] peadrakw commented on #38
@rsignell-usgs

[2020-01-20 07:54] peadrakw commented on #198
@peadrakw